e-proc-ws/src/wsdl/secman/WS_Secman_Role.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions
     name="WS_Secman_Role"
     targetNamespace="http://oracle.com/sca/soapservice/Eproc_Secman/Eproc_Secman/WS_Secman_Role"
     xmlns:xocpadss="http://xmlns.oracle.com/pcbpel/adapter/db/sp/scm_getlist_menu_by_user"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:inp1="http://xmlns.oracle.com/pcbpel/adapter/db/sp/scm_validasi_user"
     xmlns:tns="http://oracle.com/sca/soapservice/Eproc_Secman/Eproc_Secman/WS_Secman_Role"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:xocpadss2="http://xmlns.oracle.com/pcbpel/adapter/db/sp/scm_getdaftar_by_user"
     xmlns:xocpadss1="http://xmlns.oracle.com/pcbpel/adapter/db/sp/scm_getlist_role_by_user"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:xocpadss4="http://xmlns.oracle.com/pcbpel/adapter/db/sp/scm_getvalidasi_by_user"
     xmlns:xocpadss3="http://xmlns.oracle.com/pcbpel/adapter/db/sp/scm_getlist_menu_id_user_clob"
    >
    <wsdl:documentation>
        <abstractWSDL>http://192.168.69.203:8001/soa-infra/services/latihan/Eproc_Secman!1.0/WS_Secman_Role.wsdl</abstractWSDL>
    </wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/scm_validasi_user"
                 schemaLocation="http://192.168.69.203:8001/soa-infra/services/latihan/Eproc_Secman/WS_Secman_Role?XSD=xsd/scm_validasi_user_sp.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import schemaLocation="http://192.168.69.203:8001/soa-infra/services/latihan/Eproc_Secman/WS_Secman_Role?XSD=xsd/scm_getlist_menu_by_user_sp.xsd"
                 namespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/scm_getlist_menu_by_user"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import schemaLocation="http://192.168.69.203:8001/soa-infra/services/latihan/Eproc_Secman/WS_Secman_Role?XSD=xsd/scm_getlist_role_by_user_sp.xsd"
                 namespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/scm_getlist_role_by_user"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import schemaLocation="http://192.168.69.203:8001/soa-infra/services/latihan/Eproc_Secman/WS_Secman_Role?XSD=xsd/scm_getdaftar_by_user_sp.xsd"
                 namespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/scm_getdaftar_by_user"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import schemaLocation="http://192.168.69.203:8001/soa-infra/services/latihan/Eproc_Secman/WS_Secman_Role?XSD=xsd/scm_getlist_menu_id_user_clob_sp.xsd"
                 namespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/scm_getlist_menu_id_user_clob"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import schemaLocation="http://192.168.69.203:8001/soa-infra/services/latihan/Eproc_Secman/WS_Secman_Role?XSD=xsd/scm_getvalidasi_by_user_sp.xsd"
                 namespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/scm_getvalidasi_by_user"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestMessage">
        <wsdl:part name="part1" element="inp1:InputParameters"/>
    </wsdl:message>
    <wsdl:message name="replyMessage">
        <wsdl:part name="part1" element="inp1:OutputParameters"/>
    </wsdl:message>
    <wsdl:message name="getmenuRequestMessage">
        <wsdl:part name="GetMenuInputParameters" element="xocpadss:InputParameters"/>
    </wsdl:message>
    <wsdl:message name="getmenuReplyMessage">
        <wsdl:part name="GetMenuOutputParameters" element="xocpadss:OutputParameters"/>
    </wsdl:message>
    <wsdl:message name="getroleRequestMessage">
        <wsdl:part name="GetRoleInputParameters" element="xocpadss1:InputParameters"/>
    </wsdl:message>
    <wsdl:message name="getroleReplyMessage">
        <wsdl:part name="GetRoleOutputParameters" element="xocpadss1:OutputParameters"/>
    </wsdl:message>
    <wsdl:message name="getdaftarRequestMessage">
        <wsdl:part name="GetDaftarMenuInputParamaters" element="xocpadss2:InputParameters"/>
    </wsdl:message>
    <wsdl:message name="getdaftarReplyMessage">
        <wsdl:part name="GetDaftarMenuOutputParamaters" element="xocpadss2:OutputParameters"/>
    </wsdl:message>
    <wsdl:message name="getclobmenuRequestMessage">
        <wsdl:part name="GetCLOBMenuInputParamaters" element="xocpadss3:InputParameters"/>
    </wsdl:message>
    <wsdl:message name="getclobmenuReplyMessage">
        <wsdl:part name="GetCLOBMenuOutputParamaters" element="xocpadss3:OutputParameters"/>
    </wsdl:message>
    <wsdl:message name="getvalidasiuserRequestMessage">
        <wsdl:part name="GetValidasiUserInputParameters" element="xocpadss4:InputParameters"/>
    </wsdl:message>
    <wsdl:message name="getvalidasiuserReplyMessage">
        <wsdl:part name="GetValidasiUserOutputParameters" element="xocpadss4:OutputParameters"/>
    </wsdl:message>
    <wsdl:portType name="execute_ptt">
        <wsdl:operation name="getvalidasiuser">
            <wsdl:input message="tns:requestMessage"/>
            <wsdl:output message="tns:replyMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getmenu_by_user">
            <wsdl:input message="tns:getmenuRequestMessage"/>
            <wsdl:output message="tns:getmenuReplyMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getrole_by_user">
            <wsdl:input message="tns:getroleRequestMessage"/>
            <wsdl:output message="tns:getroleReplyMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getdafarmenu">
            <wsdl:input message="tns:getdaftarRequestMessage"/>
            <wsdl:output message="tns:getdaftarReplyMessage"/>
        </wsdl:operation>
        <wsdl:operation name="get_list_menu_by_user">
            <wsdl:input message="tns:getclobmenuRequestMessage"/>
            <wsdl:output message="tns:getclobmenuReplyMessage"/>
        </wsdl:operation>
        <wsdl:operation name="get_validasi_by_user">
            <wsdl:input message="tns:getvalidasiuserRequestMessage"/>
            <wsdl:output message="tns:getvalidasiuserReplyMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="execute_pttBinding" type="tns:execute_ptt">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getvalidasiuser">
            <soap:operation style="document" soapAction="getvalidasiuser"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getmenu_by_user">
            <soap:operation style="document" soapAction="getmenu_by_user"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getrole_by_user">
            <soap:operation style="document" soapAction="getrole_by_user"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getdafarmenu">
            <soap:operation style="document" soapAction="getdafarmenu"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="get_list_menu_by_user">
            <soap:operation style="document" soapAction="get_list_menu_by_user"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="get_validasi_by_user">
            <soap:operation style="document" soapAction="get_validasi_by_user"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WS_Secman_Role">
        <wsdl:port name="execute_pt" binding="tns:execute_pttBinding">
            <soap:address location="http://192.168.69.203:8001/soa-infra/services/latihan/Eproc_Secman/WS_Secman_Role"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
