e-proc-ws/src/wsdl/192.168.69.203_8001/soa-infra/services/latihan/LIB_Eproc/WS_Library_List.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions
     name="WS_Library_List"
     targetNamespace="http://oracle.com/sca/soapservice/Eproc_Secman/LIB_Eproc/WS_Library_List"
     xmlns:xocpadss="http://xmlns.oracle.com/pcbpel/adapter/db/sp/sp_list_XML_provinsi"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:inp1="http://xmlns.oracle.com/pcbpel/adapter/db/sp/sp_list_Json_provinsi"
     xmlns:tns="http://oracle.com/sca/soapservice/Eproc_Secman/LIB_Eproc/WS_Library_List"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:xocpadss2="http://xmlns.oracle.com/pcbpel/adapter/db/sp/sp_simpan_bank"
     xmlns:xocpadss1="http://xmlns.oracle.com/pcbpel/adapter/db/sp/sp_list_XML_Provinsi_2"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:xocpadss3="http://xmlns.oracle.com/pcbpel/adapter/db/sp/sp_get_XML_Bank"
    >
    <wsdl:documentation>
        <abstractWSDL>http://192.168.69.203:8001/soa-infra/services/latihan/LIB_Eproc!1.0/WS_Library_List.wsdl</abstractWSDL>
    </wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/sp_list_Json_provinsi"
                 schemaLocation="http://192.168.69.203:8001/soa-infra/services/latihan/LIB_Eproc/WS_Library_List?XSD=xsd/sp_list_Json_provinsi_sp.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import schemaLocation="http://192.168.69.203:8001/soa-infra/services/latihan/LIB_Eproc/WS_Library_List?XSD=xsd/sp_list_XML_provinsi_sp.xsd"
                 namespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/sp_list_XML_provinsi"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import schemaLocation="http://192.168.69.203:8001/soa-infra/services/latihan/LIB_Eproc/WS_Library_List?XSD=xsd/sp_list_XML_Provinsi_2_sp.xsd"
                 namespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/sp_list_XML_Provinsi_2"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import schemaLocation="http://192.168.69.203:8001/soa-infra/services/latihan/LIB_Eproc/WS_Library_List?XSD=xsd/sp_simpan_bank_sp.xsd"
                 namespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/sp_simpan_bank"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import schemaLocation="http://192.168.69.203:8001/soa-infra/services/latihan/LIB_Eproc/WS_Library_List?XSD=xsd/sp_get_XML_Bank_sp.xsd"
                 namespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/sp_get_XML_Bank"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestMessage">
        <wsdl:part name="part1" element="inp1:InputParameters"/>
    </wsdl:message>
    <wsdl:message name="replyMessage">
        <wsdl:part name="part1" element="inp1:OutputParameters"/>
    </wsdl:message>
    <wsdl:message name="requestXMLProvinsiMessage">
        <wsdl:part name="InputXMLParameter" element="xocpadss:InputParameters"/>
    </wsdl:message>
    <wsdl:message name="replyXMLProvinsiMessage">
        <wsdl:part name="OutputXMLParameter" element="xocpadss:OutputParameters"/>
    </wsdl:message>
    <wsdl:message name="requestXMLProvinsiMessage2">
        <wsdl:part name="InputXMLParameter2" element="xocpadss1:InputParameters"/>
    </wsdl:message>
    <wsdl:message name="replyXMLProvinsiMessage2">
        <wsdl:part name="OutputXMLParameter2" element="xocpadss1:OutputParameters"/>
    </wsdl:message>
    <wsdl:message name="reqMsgSimpanBank">
        <wsdl:part name="InputParamSimpanBank" element="xocpadss2:InputParameters"/>
    </wsdl:message>
    <wsdl:message name="repMsgSimpanBank">
        <wsdl:part name="OutputParamSimpanBank" element="xocpadss2:OutputParameters"/>
    </wsdl:message>
    <wsdl:message name="reqMsgXMLBank">
        <wsdl:part name="InputParamXMLBank" element="xocpadss3:InputParameters"/>
    </wsdl:message>
    <wsdl:message name="repMsgXMLBank">
        <wsdl:part name="OutputParamXMLBank" element="xocpadss3:OutputParameters"/>
    </wsdl:message>
    <wsdl:portType name="execute_ptt">
        <wsdl:operation name="get_list_Json_Provinsi">
            <wsdl:input message="tns:requestMessage"/>
            <wsdl:output message="tns:replyMessage"/>
        </wsdl:operation>
        <wsdl:operation name="get_list_XML_Provinsi">
            <wsdl:input message="tns:requestXMLProvinsiMessage"/>
            <wsdl:output message="tns:replyXMLProvinsiMessage"/>
        </wsdl:operation>
        <wsdl:operation name="get_list_XML_Provinsi2">
            <wsdl:input message="tns:requestXMLProvinsiMessage2"/>
            <wsdl:output message="tns:replyXMLProvinsiMessage2"/>
        </wsdl:operation>
        <wsdl:operation name="insert_simpan_bank">
            <wsdl:input message="tns:reqMsgSimpanBank"/>
            <wsdl:output message="tns:repMsgSimpanBank"/>
        </wsdl:operation>
        <wsdl:operation name="get_list_XML_Bank">
            <wsdl:input message="tns:reqMsgXMLBank"/>
            <wsdl:output message="tns:repMsgXMLBank"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="execute_pttBinding" type="tns:execute_ptt">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_list_Json_Provinsi">
            <soap:operation style="document" soapAction="get_list_Json_Provinsi"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="get_list_XML_Provinsi">
            <soap:operation style="document" soapAction="get_list_XML_Provinsi"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="get_list_XML_Provinsi2">
            <soap:operation style="document" soapAction="get_list_XML_Provinsi2"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="insert_simpan_bank">
            <soap:operation style="document" soapAction="insert_simpan_bank"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="get_list_XML_Bank">
            <soap:operation style="document" soapAction="get_list_XML_Bank"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WS_Library_List">
        <wsdl:port name="execute_pt" binding="tns:execute_pttBinding">
            <soap:address location="http://192.168.69.203:8001/soa-infra/services/latihan/LIB_Eproc/WS_Library_List"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
