e-proc-ws/src/wsdl/192.168.69.203_8001/soa-infra/services/latihan/SOA_Master/WS_MASTER_REF_BANK.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions
     name="WS_MASTER_REF_BANK"
     targetNamespace="http://oracle.com/sca/soapservice/Eprocs/SOA_Master/WS_MASTER_REF_BANK"
     xmlns:inp2="http://xmlns.oracle.com/pcbpel/adapter/db/sp/pkg_master_upd_ref_bank"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:inp1="http://xmlns.oracle.com/pcbpel/adapter/db/sp/pkg_master_ins_ref_bank"
     xmlns:tns="http://oracle.com/sca/soapservice/Eprocs/SOA_Master/WS_MASTER_REF_BANK"
     xmlns:inp4="http://xmlns.oracle.com/pcbpel/adapter/db/sp/pkg_master_get_ref_bank"
     xmlns:inp3="http://xmlns.oracle.com/pcbpel/adapter/db/sp/pkg_master_del_ref_bank"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <wsdl:documentation>
        <abstractWSDL>http://192.168.69.203:8001/soa-infra/services/latihan/SOA_Master!1.0/WS_MASTER_REF_BANK.wsdl</abstractWSDL>
    </wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/pkg_master_ins_ref_bank"
                 schemaLocation="http://192.168.69.203:8001/soa-infra/services/latihan/SOA_Master/WS_MASTER_REF_BANK?XSD=xsd/pkg_master_ins_ref_bank_sp.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/pkg_master_upd_ref_bank"
                 schemaLocation="http://192.168.69.203:8001/soa-infra/services/latihan/SOA_Master/WS_MASTER_REF_BANK?XSD=xsd/pkg_master_upd_ref_bank_sp.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/pkg_master_del_ref_bank"
                 schemaLocation="http://192.168.69.203:8001/soa-infra/services/latihan/SOA_Master/WS_MASTER_REF_BANK?XSD=xsd/pkg_master_del_ref_bank_sp.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/pkg_master_get_ref_bank"
                 schemaLocation="http://192.168.69.203:8001/soa-infra/services/latihan/SOA_Master/WS_MASTER_REF_BANK?XSD=xsd/pkg_master_get_ref_bank_sp.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="insert_request">
        <wsdl:part name="insertRequest" element="inp1:IPInsRefBank"/>
    </wsdl:message>
    <wsdl:message name="insert_reply">
        <wsdl:part name="insertReply" element="inp1:OPInsRefBank"/>
    </wsdl:message>
    <wsdl:message name="update_request">
        <wsdl:part name="updateRequest" element="inp2:IPUpdRefBank"/>
    </wsdl:message>
    <wsdl:message name="update_reply">
        <wsdl:part name="updateReply" element="inp2:OPUpdRefBank"/>
    </wsdl:message>
    <wsdl:message name="delete_request">
        <wsdl:part name="deleteRequest" element="inp3:IPDelRefBank"/>
    </wsdl:message>
    <wsdl:message name="delete_reply">
        <wsdl:part name="delete_reply" element="inp3:OPDelRefBank"/>
    </wsdl:message>
    <wsdl:message name="get_request">
        <wsdl:part name="get_request" element="inp4:IPGetRefBank"/>
    </wsdl:message>
    <wsdl:message name="get_reply">
        <wsdl:part name="get_reply" element="inp4:OPGetRefBank"/>
    </wsdl:message>
    <wsdl:portType name="execute_ptt">
        <wsdl:operation name="insert">
            <wsdl:input message="tns:insert_request"/>
            <wsdl:output message="tns:insert_reply"/>
        </wsdl:operation>
        <wsdl:operation name="update">
            <wsdl:input message="tns:update_request"/>
            <wsdl:output message="tns:update_reply"/>
        </wsdl:operation>
        <wsdl:operation name="delete">
            <wsdl:input message="tns:delete_request"/>
            <wsdl:output message="tns:delete_reply"/>
        </wsdl:operation>
        <wsdl:operation name="get">
            <wsdl:input message="tns:get_request"/>
            <wsdl:output message="tns:get_reply"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="execute_pttBinding" type="tns:execute_ptt">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="insert">
            <soap:operation style="document" soapAction="insert"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="update">
            <soap:operation style="document" soapAction="update"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="delete">
            <soap:operation style="document" soapAction="delete"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="get">
            <soap:operation style="document" soapAction="get"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WS_MASTER_REF_BANK">
        <wsdl:port name="execute_pt" binding="tns:execute_pttBinding">
            <soap:address location="http://192.168.69.203:8001/soa-infra/services/latihan/SOA_Master/WS_MASTER_REF_BANK"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
