e-proc-ws/src/wsdl/192.168.69.203_8001/soa-infra/services/latihan/SOA_Master/WS_MASTER_REF_BADAN_USAHA.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions
     name="WS_MASTER_REF_BADAN_USAHA"
     targetNamespace="http://oracle.com/sca/soapservice/Eprocs/SOA_Master/WS_MASTER_REF_BADAN_USAHA"
     xmlns:inp2="http://xmlns.oracle.com/pcbpel/adapter/db/sp/pkg_master_upd_ref_badan_usaha"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:inp1="http://xmlns.oracle.com/pcbpel/adapter/db/sp/pkg_master_ins_ref_badan_usaha"
     xmlns:tns="http://oracle.com/sca/soapservice/Eprocs/SOA_Master/WS_MASTER_REF_BADAN_USAHA"
     xmlns:inp4="http://xmlns.oracle.com/pcbpel/adapter/db/sp/pkg_master_get_ref_badan_usaha"
     xmlns:inp3="http://xmlns.oracle.com/pcbpel/adapter/db/sp/pkg_master_del_ref_badan_usaha"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <wsdl:documentation>
        <abstractWSDL>http://192.168.69.203:8001/soa-infra/services/latihan/SOA_Master!1.0/WS_MASTER_REF_BADAN_USAHA.wsdl</abstractWSDL>
    </wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/pkg_master_ins_ref_badan_usaha"
                 schemaLocation="http://192.168.69.203:8001/soa-infra/services/latihan/SOA_Master/WS_MASTER_REF_BADAN_USAHA?XSD=xsd/pkg_master_ins_ref_badan_usaha_sp.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/pkg_master_upd_ref_badan_usaha"
                 schemaLocation="http://192.168.69.203:8001/soa-infra/services/latihan/SOA_Master/WS_MASTER_REF_BADAN_USAHA?XSD=xsd/pkg_master_upd_ref_badan_usaha_sp.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/pkg_master_del_ref_badan_usaha"
                 schemaLocation="http://192.168.69.203:8001/soa-infra/services/latihan/SOA_Master/WS_MASTER_REF_BADAN_USAHA?XSD=xsd/pkg_master_del_ref_badan_usaha_sp.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/pkg_master_get_ref_badan_usaha"
                 schemaLocation="http://192.168.69.203:8001/soa-infra/services/latihan/SOA_Master/WS_MASTER_REF_BADAN_USAHA?XSD=xsd/pkg_master_get_ref_badan_usaha_sp.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="updateRequest">
        <wsdl:part name="updateRequest" element="inp2:IPUpdRefBadanUsaha"/>
    </wsdl:message>
    <wsdl:message name="updateReply">
        <wsdl:part name="updateReply" element="inp2:OPUpdRefBadanUsaha"/>
    </wsdl:message>
    <wsdl:message name="deleteRequest">
        <wsdl:part name="deleteRequest" element="inp3:IPDelRefBadanUsaha"/>
    </wsdl:message>
    <wsdl:message name="deleteReply">
        <wsdl:part name="deleteReply" element="inp3:OPDelRefBadanUsaha"/>
    </wsdl:message>
    <wsdl:message name="insertRequest">
        <wsdl:part name="insertRequest" element="inp1:IPInsRefBadanUsaha"/>
    </wsdl:message>
    <wsdl:message name="insertReply">
        <wsdl:part name="insertReply" element="inp1:OPInsRefBadanUsaha"/>
    </wsdl:message>
    <wsdl:message name="getRequest">
        <wsdl:part name="getRequest" element="inp4:IPGetRefBadanUsaha"/>
    </wsdl:message>
    <wsdl:message name="getReply">
        <wsdl:part name="getReply" element="inp4:OPGetRefBadanUsaha"/>
    </wsdl:message>
    <wsdl:portType name="execute_ptt">
        <wsdl:operation name="update">
            <wsdl:input message="tns:updateRequest"/>
            <wsdl:output message="tns:updateReply"/>
        </wsdl:operation>
        <wsdl:operation name="delete">
            <wsdl:input message="tns:deleteRequest"/>
            <wsdl:output message="tns:deleteReply"/>
        </wsdl:operation>
        <wsdl:operation name="insert">
            <wsdl:input message="tns:insertRequest"/>
            <wsdl:output message="tns:insertReply"/>
        </wsdl:operation>
        <wsdl:operation name="get">
            <wsdl:input message="tns:getRequest"/>
            <wsdl:output message="tns:getReply"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="execute_pttBinding" type="tns:execute_ptt">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="update">
            <soap:operation style="document" soapAction="update"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="delete">
            <soap:operation style="document" soapAction="delete"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="insert">
            <soap:operation style="document" soapAction="insert"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="get">
            <soap:operation style="document" soapAction="get"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WS_MASTER_REF_BADAN_USAHA">
        <wsdl:port name="execute_pt" binding="tns:execute_pttBinding">
            <soap:address location="http://192.168.69.203:8001/soa-infra/services/latihan/SOA_Master/WS_MASTER_REF_BADAN_USAHA"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
