e-proc-ws/src/wsdl/192.168.69.203_8001/soa-infra/services/latihan/LIB_Eproc/WS_Library_List.XSD_xsd/sp_list_XML_Provinsi_2_sp.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/sp_list_XML_Provinsi_2"
     xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/sp_list_XML_Provinsi_2"
     elementFormDefault="qualified">
    <element name="InputParameters">
        <complexType/>
    </element>
    <element name="OutputParameters">
        <complexType>
            <sequence>
                <element name="GET_XML_PROVINSI2" type="string" db:index="0" db:type="CLOB" minOccurs="0"
                     nillable="true"/>
            </sequence>
        </complexType>
    </element>
</schema>
