e-proc-ws/src/wsdl/192.168.69.203_8001/soa-infra/services/latihan/LIB_Eproc/WS_Library_List.XSD_xsd/sp_XML_Provinsi3_sp.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/sp_XML_Provinsi3" xmlns="http://www.w3.org/2001/XMLSchema"
     xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/sp_XML_Provinsi3" elementFormDefault="qualified">
    <element name="InputParametersXMLProvinsi">
        <complexType/>
    </element>
    <element name="OutputParametersXMLProvinsi">
        <complexType>
            <sequence>
                <element name="GET_XML_PROVINSI3" type="string" db:index="0" db:type="CLOB" minOccurs="0"
                     nillable="true"/>
            </sequence>
        </complexType>
    </element>
</schema>
